@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --bg-color: #0003;
}
body,
html {
    background: no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

#main .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1460px;
    max-width: 100%;
    margin: 50px auto;
}
.navbar .logo {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    padding: 8px;
    gap: 10px;
    border-radius: 20px;
}
.navbar .logo h3 {
    font-size: 20px;
}
.navbar .logo i {
    font-size: 36px;
}
.navbar .mode {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 20px;
    width: 56px;
    height: 56px;
    padding: 20px;
    cursor: pointer;
}
.navbar .mode i {
    font-size: 20px;
}

#location-form {
    min-width: 320px;
    margin-right: 55px;
}
#location-form .form-control {
    position: relative;
    background-color: #4985e04d;
    margin: 20px 0;
    width: 100%;
    border-bottom: 0.125rem solid #d7d7ef66;
    border-radius: 2px;
}
#location-form .form-control input {
    background: transparent;
    width: 100%;
    height: 48px;
    font-size: 20px;
    padding: 4px 24px;
    border: 2px solid transparent;
    border-radius: 2px;
    color: #fff;
    outline: none;
}
#location-form .form-control i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper {
    display: grid;
    grid-template-columns: 720px 720px;
    gap: 20px;
    width: fit-content;
    margin: 0 auto;
}

.weather-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
}
.main-dashboard {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-radius: 16px;
    background-color: var(--bg-color);
}
.current-temp h1 {
    font-size: 8.5rem;
    font-weight: 500;
}
.current-temp sup {
    font-size: 3.5rem;
}
.main-dashboard .location {
    font-size: 3.5rem;
    font-weight: 600;
}
.main-dashboard .date-time {
    font-size: 1.5rem;
}
.main-dashboard .current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}
.current-weather i {
    font-size: 4rem;
}
.extra-forecast {
    grid-column: 1 / span 3;
    display: flex;
    gap: 10px;
}
.extra-data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    padding: 12px;
    background-color: var(--bg-color);
    border-radius: 16px;
}
.extra-data h3 {
    font-size: 1.25rem;
    font-weight: 500;
}
.extra-data h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    border: 3px solid transparent;
    border-radius: 16px;
    padding: 20px 10px;
}
.forecast:hover {
    cursor: pointer;
    border: 3px solid rgba(128, 197, 214, 1);
    transition: all ease 0.3s;
}
.active {
    border: 3px solid rgba(128, 197, 214, 1);
    background-color: rgba(128, 197, 214, 0.8);
}
.forecast-date {
    font-size: 1.5rem;
    font-weight: 500;
}
.forecast-data {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}
.forecast-icon {
    font-size: 4rem;
}
.humidity-data {
    text-align: center;
}
.humidity-data h3 {
    font-size: 1.25rem;
    font-weight: 400;
}
.humidity-data .humidity-value {
    font-size: 1.5rem;
    font-weight: 500;
}

.temp-chart {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px;
    background-color: var(--bg-color);
    border-radius: 16px;
}

@media only screen and (max-width: 1460px) {
    .wrapper {
        grid-template-columns: 720px;
        margin: 0 auto;
    }
    #main .navbar {
        width: 720px;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 580px;
        margin: 0 auto;
    }
    #main .navbar {
        width: 580px;
    }
    .navbar .logo {
        padding: 12px;
    }
    .navbar .logo h3 {
        font-size: 15px;
    }
    .navbar .logo i {
        font-size: 24px;
    }
    #location-form {
        margin: 0;
    }

    .current-temp h1 {
        font-size: 5.5rem;
    }
    .main-dashboard .location {
        font-size: 2.5rem;
        font-weight: 600;
    }
    .main-dashboard .date-time {
        font-size: 1.125rem;
    }

    .forecast-icon {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 640px) {
    .wrapper {
        grid-template-columns: 320px;
        margin: 0 auto;
    }
    #main .navbar {
        width: 320px;
        justify-content: center;
    }
    .navbar .logo {
        display: none;
    }
    .navbar .mode {
        display: none;
    }
    #location-form {
        margin: 0;
    }

    .current-temp h1 {
        font-size: 3.5rem;
    }
    .current-temp sup {
        font-size: 1.5rem;
    }

    .main-dashboard .location {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .main-dashboard .date-time {
        font-size: 0.75rem;
    }
    .main-dashboard .current-weather {
        white-space: initial;
    }
    .current-weather i {
        font-size: 1.5rem;
    }

    .extra-data {
        flex-direction: column;
        gap: 8px;
    }
    .forecast-data {
        flex-direction: column;
        align-items: center;
    }
    .humidity-data h3 {
        font-size: 1rem;
    }
    .humidity-data .humidity-value {
        font-size: 1.25rem;
        font-weight: 500;
    }
    .forecast-icon {
        font-size: 1.5rem;
    }
}
